.vscode/c_cpp_properties.json
.vscode/settings.json
libs/arm64-v8a/libc++_shared.so
libs/arm64-v8a/libSNPE.so
libs/arm64-v8a/snpe-sample
obj/local/arm64-v8a/libc++_shared.so
obj/local/arm64-v8a/libSNPE.so
obj/local/arm64-v8a/snpe-sample
obj/local/arm64-v8a/objs/snpe-sample/CheckRuntime.o
obj/local/arm64-v8a/objs/snpe-sample/CheckRuntime.o.d
obj/local/arm64-v8a/objs/snpe-sample/LoadContainer.o
obj/local/arm64-v8a/objs/snpe-sample/LoadContainer.o.d
obj/local/arm64-v8a/objs/snpe-sample/LoadUDOPackage.o
obj/local/arm64-v8a/objs/snpe-sample/LoadUDOPackage.o.d
obj/local/arm64-v8a/objs/snpe-sample/main.o
obj/local/arm64-v8a/objs/snpe-sample/main.o.d
obj/local/arm64-v8a/objs/snpe-sample/SetBuilderOptions.o
obj/local/arm64-v8a/objs/snpe-sample/SetBuilderOptions.o.d
obj/local/arm64-v8a/objs/snpe-sample/Util.o
obj/local/arm64-v8a/objs/snpe-sample/Util.o.d
